[Unit]
Description=Fmachine

[Service]
ExecStart=/usr/local/bin/fmachine /etc/fmachine.conf
User=fmachine
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
